main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 36px;
    font-family: 'Sixtyfour';
    margin-bottom: 50px;
}

.daily-quote{
    margin-bottom: 80px;
}

.daily-quote blockquote{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.daily-quote figcaption{
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.action-btn{
    padding: 10px 30px;

    background-color: #14FDCE;

    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New';
    color: #031E11;
    text-shadow: 0 0 7px #031E11;
    cursor: pointer;

    border-radius: 8px;
    box-shadow: 0 0 10px #14FDCE;
    transition: 0.2s;
}

.action-btn:hover{
    background-color: #03b692;
    box-shadow: 0 0 10px #03b692;
}


@media only screen and (max-width: 548px){
    main{
        padding: 0 30px;
    }

    h1{
        font-size: 24px;
    }

    .daily-quote blockquote{
        font-size: 16px;
    }

    .daily-quote figcaption{
        font-size: 14px;
    }

    .action-btn{
        font-size: 16px;
    }
}