main{
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    overflow-y: auto;
}

main h1{
    margin: 30px 0;
    font-family: 'Sixtyfour';
    font-size: 20px;
}

.criminals-grid{
    width: 90%;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(10, 300px);
}

.criminal-card{
    display: flex;

    border: 5px solid #04715c;
    box-shadow: 0 0 20px #04715c;
    border-radius: 8px;

    margin: 10px;
    padding: 10px;
}

.criminal-img{
    height: 100%;

    margin-right: 10px;
}

.criminal-img img{
    width: 250px;
    height: 100%;

    object-fit: cover;
}

@media only screen and (max-width: 548px){
    h1{
        text-align: center;
        font-size: 24px;
    }

    .criminals-grid{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(20, 300px);
    }

    .criminal-img{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50%;
    }

    .criminal-img img{
        width: 80%;
        height: 80%;
    }

    .criminal-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        width: 50%;
    }

    .criminal-info h2{
        font-size: 18px;
    }
    
    .criminal-info p{
        font-size: 14px;
    }
}