main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-identity-card{
    display: flex;
    width: 60%;
    height: 80%;

    border: 5px solid #04715c;
    box-shadow: 0 0 20px #04715c;
    border-radius: 8px;
}

.new-identity-info{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding-left: 40px;
}

.new-identity-img{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.new-identity-img img{
    width: 80%;
    height: 80%;
}