main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-identity-card{
    display: flex;
    width: 60%;
    height: 80%;

    border: 5px solid #04715c;
    box-shadow: 0 0 20px #04715c;
    border-radius: 8px;
}

.new-identity-info{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding-left: 40px;
}

.new-identity-img{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.new-identity-img img{
    width: 80%;
    height: 80%;
}

@media only screen and (max-width: 848px){
    .new-identity-card{
        flex-direction: column-reverse;

        width: 90%;
        height: 80%;

        border: 3px solid #04715c;
    }

    .new-identity-img{
        width: 100%;
        height: 50%;
    }

    .new-identity-img img{
        height: 90%;
    }

    .new-identity-info{
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 50%;

        padding: 0 20px;
    }

    .info-column{
        width: 50%;

        background-color: red;
    }

    .info-column h2{
        font-size: 18px;
    }

    .info-column span{
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
    }
}