*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    
    background-color: #031E11;

    font-family: 'Courier New';
    color: #14FDCE;
    
    
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5) inset;
    border-radius: 10px;
    overflow: hidden;
}

body h1, body p, body span, a{
    text-shadow: 0 0 7px #14FDCE;
}


body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    background: repeating-linear-gradient(
        to bottom,
        transparent 0,
        transparent 1px,
        rgba(0, 0, 0, 0.4) 2px,
        rgba(0, 0, 0, 0.4) 3px
    );
    background-size: 100% 4px;
}

body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0.05) 0%,
        transparent 70%
    );
    opacity: 0.5;
}

header{
    width: 100vw;
    height: 12vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

.logo{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 90px;
}

.menu-bar{
    display: none;
}

.top-nav{
    flex: 2;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    list-style: none;
}

.top-nav li a{
    font-size: 20px;

    color: #14FDCE;
    text-decoration: none;
    transition: 0.2s;
}

.top-nav li a:hover{
    color: #FFFFFF;
}

.top-nav button{
    padding: 10px 20px;

    background-color: #14FDCE;

    font-size: 20px;
    font-family: 'Courier New';
    color: #031E11;
    text-shadow: 0 0 7px #031E11;

    cursor: pointer;

    border-radius: 8px;
    box-shadow: 0 0 10px #14FDCE;
    transition: 0.2s;
}

.top-nav button:hover{
    background-color: #03b692;
    box-shadow: 0 0 10px #03b692;
}

main{
    width: 100vw;
    height: 78vh;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 10vh;
}

.access-screen{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #031E11;

    font-family: 'Courier New';
    color: #14FDCE;
    
    
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5) inset;
    border-radius: 10px;
    overflow: hidden;
}

.access-screen::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    background: repeating-linear-gradient(
        to bottom,
        transparent 0,
        transparent 1px,
        rgba(0, 0, 0, 0.4) 2px,
        rgba(0, 0, 0, 0.4) 3px
    );
    background-size: 100% 4px;
}

.access-screen::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0.05) 0%,
        transparent 70%
    );
    opacity: 0.5;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 30%;
    height: 70%;

    border: 5px solid #04715c;
    box-shadow: 0 0 20px #04715c;
    border-radius: 8px;
}

.form-logo{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-logo img{
    width: 100px;
}

form{
    flex: 2;
    
    display: flex;
    flex-direction: column;

    width: 80%;
}

form label{
    font-size: 20px;
    text-shadow: 0 0 7px #14FDCE;
}

form input{
    padding: 8px;
    margin-bottom: 20px;

    background-color: #172720;

    border-radius: 4px;

    color: #FFFFFF;
    font-size: 20px;
    text-shadow: 0 0 7px #14FDCE;
    font-family: 'Courier New';
}

form input:focus{
    outline: 2px solid #14FDCE;
}

form button{
    margin-top: 40px;
    padding: 5px;

    background-color: #14FDCE;

    font-size: 20px;
    font-family: 'Courier New';
    color: #031E11;
    text-shadow: 0 0 7px #031E11;

    cursor: pointer;

    border-radius: 8px;
    box-shadow: 0 0 10px #14FDCE;
    transition: 0.2s;
}

form button:hover{
    background-color: #03b692;
    box-shadow: 0 0 10px #03b692;
}

@media only screen and (max-width: 848px){
    nav{
        position: relative;
    }
    
    .focus-border{
        border-bottom: 3px solid #04715c;
        box-shadow: 0 0 20px #04715c;
    }

    .logo{
        justify-content: start;

        padding-left: 40px;
    }

    .logo img{
        width: 70px;
    }

    .menu-bar{
        flex: 1;

        display: flex;
        justify-content: end;

        padding-right: 40px;
    }

    .menu-bar i{
        font-size: 48px;
    }
    
    .top-nav{
        position: absolute;
        top: 12vh;
        right: 0;
        
        display: none;
        flex-direction: column;
        align-items: end;

        background-color: #031E11;

        padding: 10px 20px 10px 30px;

        border: 3px solid #04715c;
        border-top: none;
        box-shadow: 0 0 20px #04715c;
        border-radius: 0 0 8px 8px;
    }

    .show{
        display: flex;
    }

    .top-nav li{
        padding: 10px;
    }

    .top-nav li a{
        text-align: end;
        font-size: 16px;

    }

    .top-nav button{
        padding: 10px;

        font-size: 16px;
    }

    .top-nav::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        
        background: repeating-linear-gradient(
            to bottom,
            transparent 0,
            transparent 1px,
            rgba(0, 0, 0, 0.4) 2px,
            rgba(0, 0, 0, 0.4) 3px
        );
        background-size: 100% 4px;
    }

    .top-nav::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        
        background: radial-gradient(
            ellipse at center,
            rgba(255, 255, 255, 0.05) 0%,
            transparent 70%
        );
        opacity: 0.5;
    }

    footer p{
        font-size: 12px;
    }
}